<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    
        
        
       <form method="post" th:action="@{/upload/uploadFile}" enctype="multipart/form-data"> 
      
        
           <table border="0">
                <tr>
                    <td>Alege fisierul #1:</td>
                    <td><input type="file" name="myFile" size="50" /></td>
                </tr>
                 <!--  <tr>
                    <td>Alege fisierul #2:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr>-->
                
               <tr>
                    <td colspan="2" align="center"><input type="submit" value="Incarca" /></td>
                </tr>
                </table>
                <!--  <input type="file" name="myFile" />
                 <a class="btn btn-primary" id="submitUploadFile">Incarca</a>-->
            
        </form>
    </div>
    





<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>