<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<body>
<div class="container">
    <div class="row main">
        <div class="col-md-6">
            <h2 class="title">Incarca documente</h2>
            <hr/>
             
     <!--    <form action="uploadDocs.html" th:action="@{/uploadDocs}" method="post" enctype="multipart/form-data">--> 
       <form method="post" th:action="@{/uploadFiles/uploadDocs}" enctype="multipart/form-data"> 
        <input type="hidden" name="id" th:value="${uploadDocs.id}"/>
        <input type="file" name="myFile" />
          <!--   <table border="0">
                <tr>
                    <td>Alege fisierul #1:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr>
                <tr>
                    <td>Alege fisierul #2:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr>
                </table>--> 
           <!--      <tr>
                    <td colspan="2" align="center"><input type="submit" value="Incarca" /></td>
                </tr>--> 
                
                 <a class="btn btn-primary" id="submitUploadFile">Incarca</a>
            
        </form>
    </div>
    </div>
    </div>
</body>
</html>